body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    min-width: fit-content;
    text-align: center;
}

.hide {
    display: none;
}

#balances {
    width: 50%;
}